li,
caption,
td,
th,
tr,
colgroup,
col,
tfoot,
tbody,
thead,
table,
marquee,
input,
textarea,
select,
button,
meter,
progress,
html,
body,
p,
div,
article,
aside,
footer,
header,
hgroup,
main,
nav,
section,
address,
blockquote,
figcaption,
figure,
center,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
menu,
dir,
ol,
dd,
dl,
dt,
form,
legend,
fieldset,
optgroup,
option,
pre,
xmp,
plaintext,
listing,
ruby>rt,
frameset,
frame,
details,
summary,
dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* mobile first */
}