address,
article,
aside,
blockquote,
body,
caption,
col,
colgroup,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
legend,
main,
menu,
nav,
ol,
optgroup,
option,
p,
pre,
section,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}