:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
}

body {
  font-size: calc(1vw + 1rem);
  font-family: 'Ubuntu', sans-serif;
  padding: 1em;
}

/* Mobile first */

$border: solid 2px #eeeef0;

.separator {
  height: 0;
  width: 100%;
  border-bottom: $border;
}

.hidden {
  display: none;
}

@media (orientation: landscape) {
  html,
  body {
    height: 100%;
  }

  body {
    font-size: calc(1vh + 0.5rem);
  }
  .container {
    flex-direction: row;
    height: 100%;
    border: $border;
  }

  .separator {
    display: flex;
    height: 100%;
    width: 0;
    border-left: $border;
  }
}
