$border: solid 1px #f0f0f2;

.table {
  position: relative;
  max-width: 100%;
  padding-top: 100%;
  border: $border;
}

.table > tbody {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.table * {
  height: 100%;
}

.table tr {
  flex-direction: row;
}

.table td {
  border: $border;
}

@media (orientation: landscape) {
  .table {
    max-width: 15em;
    padding-top: 15em;
  }
}
