.winners {
  width: 100%;
}

.winners>h3 {
  font-size: 1.8em;
  font-weight: 500;
  color: #888888;
  padding: 0.7em 0;
}

.winners li {
  font-size: 1.1em;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cfd8dc;
  padding: 0.7em 1em;
  color: #9ea7aa;
  margin-top: 0.1em;
}

.winners li:first-child {
  margin-top: 0;
}

@media(orientation: landscape) {
  .winners {
    width: 50%;
    height: 100%;
    padding: 1em 3.5em;
  }

  .winners>h3 {
    align-items: flex-start;
    padding: 0;
    padding-bottom: 0.7em;
  }

  .winners>ul {
    justify-content: flex-start;
    height: 20em;
    overflow: auto;
  }
}